@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

h1 {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-style: normal;
  background-color: #286135;

  background: radial-gradient(circle, transparent 20%, #abe8b8 20%, #abe8b8 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #abe8b8 20%, #abe8b8 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#0d0f31 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #0d0f31 2px, #abe8b8 2px) -1px 0;
background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.image-radus {
  border-radius: 50%;
}

.container {
    display: block;
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}


.card-2 {
  background: #C78829;                         /* White background */
  padding: 6%;                             /* Internal space */
  border-radius: 1%;                        /* Small radius */
  box-shadow: 10px 5px 10px rgba(52, 49, 49, 0.8);    /* Light shadow */
  text-align: center;
  margin: 6%;
  border:solid;
  border-radius: 2%;

}

.inline {
  display:inline;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.1);
  padding: 5%;
}

.lien {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  background: #2c6c4c;                         /* White background */                             /* Internal space */
  border-radius: 1%;                        /* Small radius */
  box-shadow: 10px 5px 10px rgba(52, 49, 49, 0.8);    /* Light shadow */
  text-align: center;
  margin: 6%;
  width: 50px;
  height: 50px;

}

.btn {
  border: rgba(52, 49, 49, 0.8);
  margin: 3%;
  font-size: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(52, 49, 49, 0.8);
  background: rgba(37, 36, 36, 0.1);
}

.icon-color {
  color: rgb(0, 0, 0);
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
